@import "tailwindcss";



.container {
    max-width: 1200px;
    margin   : 0 auto;
    padding  : 20px;
   
}

@layer base {
  body {



    @apply m-0 p-0 box-border bg-[#626364]; /* Fon rangi loyihangizga qarab */

    @apply m-0 p-0 box-border bg-[#626364]; /* Fon rangi loyihangizga qarab */

  }
}

.main {
    padding-top: 120px; /* Header balandligi + bo'shliq */
    min-height: 100vh;
    margin-bottom: 25px;
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-5;
  }
}

